
.contacts-container {
  display: block;
  justify-content: center;
  max-width: 1440px;
  width:100%;
  margin: 0 auto;


  h3 {
    font-family: $primary-font;
    color: $accent-color;
  }
  p {
    font-family: $secondary-font;
  }
  .contacts-wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 35px;

  }

}

